<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <form>
        <div class="form-parent">
            <form action="/register" method="post" class="login-form">
                <input type="text" name="name" placeholder="Name"/>
                <input type="email" name="email" placeholder="Email"/>
                <input type="password" name="password" placeholder="Password"/>
                <button type="submit">Sign up</button>
            </form>
        </div>
    </form>
</body>
</html>